# These defaults make the role work even if you don't override vars.
CONF_FILE={{ grafana_config_file | default('/etc/grafana/grafana.ini') }}
PID_FILE_DIR={{ grafana_pid_dir | default('/run/grafana') }}
DATA_DIR={{ grafana_data_dir | default('/var/lib/grafana') }}
LOG_DIR={{ grafana_log_dir | default('/var/log/grafana') }}
PLUGINS_DIR={{ grafana_plugins_dir | default('/var/lib/grafana/plugins') }}
PROVISIONING_DIR={{ grafana_provisioning_dir | default('/etc/grafana/provisioning') }}

