export COCKROACH_HOST={{load_balancer_private_ip}}
export COCKROACH_PORT=26257
export COCKROACH_DB_USER={{ db_admin_user }}
export COCKROACH_DB_PASS={{ db_admin_password }}
export REGION={{region}}
export COCKROACH_URL="jdbc:postgresql://${COCKROACH_HOST}:${COCKROACH_PORT}/defaultdb?sslmode=verify-full&sslrootcert=$HOME/certs/ca.crt&user=${COCKROACH_DB_USER}&password=${COCKROACH_DB_PASS}
