cockroach sql --url='postgresql://postgres:{{ db_admin_password }}@{{load_balancer_private_ip}}:26257/employees?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt' --file=employees_converted.sql
