/usr/local/bin/cockroach sql --url='postgresql://{{ db_admin_user }}:{{ db_admin_password }}@{{load_balancer_private_ip}}:26257/bank?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt' --execute " CREATE TABLE IF NOT EXISTS defaultdb.replicator_dlq ( event UUID DEFAULT gen_random_uuid() PRIMARY KEY, dlq_name TEXT NOT NULL, source_nanos INT8 NOT NULL, source_logical INT8 NOT NULL, data_after JSONB NOT NULL, data_before JSONB NOT NULL);"
