molt convert postgres \
--url 'postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257/?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt' \
--schema employees.sql \
--out employees_converted.sql
