molt fetch \
--source 'postgres://postgres:{{ db_admin_password }}@localhost:5432/employees?sslmode=disable' \
--target 'postgresql://{{ db_admin_user }}:{{ db_admin_password }}@{{load_balancer_private_ip}}:26257/employees?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt' \
--bucket-path 's3://jhaug-east2-molt-bucket/incoming/' \
--import-region 'us-east-2' \
--allow-tls-mode-disable \
--use-implicit-auth \
--logging trace \
--mode replication-only \
--pglogical-replication-slot-name "replication_slot_jph" \
--pglogical-publication-and-slot-drop-and-recreate \
--table-handling none
