molt fetch \
--source 'postgres://postgres:{{ db_admin_password }}@localhost:5432/employees?sslmode=disable' \
--target 'postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257/employees?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt' \
--direct-copy \
--allow-tls-mode-disable \
--use-implicit-auth \
--logging trace \
--table-handling none
