# tasks/create-dirs.yml
- name: Normalize distro facts
  ansible.builtin.set_fact:
    is_debian: "{{ ansible_facts.pkg_mgr == 'apt' }}"
    is_rpm: "{{ ansible_facts.pkg_mgr in ['yum','dnf'] }}"
    is_amazon_linux: "{{ ansible_facts.distribution == 'Amazon' }}"

- name: Compute DNF backend
  ansible.builtin.set_fact:
    dnf_backend: "{{ 'dnf5' if is_amazon_linux | bool else 'auto' }}"

- name: make log replicator directory
  become: yes
  file: 
    path: "{{ crdb_file_location }}/{{ login_username }}/logs/replicator"
    state: directory
    mode: '0777'
    owner: "{{login_username}}"
    group: "{{login_username}}"

- name: make app log directory
  become: yes
  file: 
    path: "{{ crdb_file_location }}/{{ login_username }}/logs/bank-app"
    state: directory
    mode: '0777'
    owner: "{{login_username}}"
    group: "{{login_username}}"

- name: Create a directory if it does not exist
  become: yes
  file:
    path: /opt
    state: directory
    mode: '0755'
    owner: "{{login_username}}"
    group: "{{login_username}}"
