# tasks/install-packages.yml
# Installing and Configuring packages
# Debian/Ubuntu
- name: Install build/dev packages (Debian/Ubuntu)
  become: yes
  ansible.builtin.apt:
    name:
      - build-essential
      - libpq-dev
      - python3-dev
      - postgresql-server-dev-all
    state: present
    update_cache: yes
    disablerepo: "pgdg*"
  when: is_debian

# RHEL/CentOS/Fedora/Amazon
- name: Install build/dev packages (RHEL/CentOS/Fedora/Amazon)
  become: yes
  ansible.builtin.dnf:
    name:
      - gcc
      - gcc-c++
      - libpq-devel
      - python3-devel
      - postgresql-devel
    state: present
    disablerepo: "pgdg*"
  when: is_rpm

- name: Install sqlalchemy and psycopg2
  become: yes
  ansible.builtin.pip:
    name:
      - "sqlalchemy~=1.4"
      - sqlalchemy-cockroachdb
      - psycopg2
    executable: pip3

