# tasks/setup-cost-calculator.yml
- name: Create virtual environment
  ansible.builtin.command: "python3 -m venv {{ crdb_file_location }}/costCalculator/pricing/venv"
  args:
    creates: "{{ crdb_file_location }}/costCalculator/pricing/venv/bin/activate"

- name: Upgrade pip in virtual environment
  ansible.builtin.command: "{{ crdb_file_location }}/costCalculator/pricing/venv/bin/python -m pip install --upgrade pip"

- name: Install Python dependencies in venv
  ansible.builtin.pip:
    requirements: "{{ crdb_file_location }}/costCalculator/pricing/requirements.txt"
    virtualenv: "{{ crdb_file_location }}/costCalculator/pricing/venv"
    virtualenv_python: python3

