# tasks/system-locations.yml
- name: Debug OS information
  become: yes
  debug:
    msg: >
      The operating system is {{ ansible_facts['distribution'] }}
      and the version is {{ ansible_facts['distribution_version'] }}

- name: copy system_locations.sql from appropriate cloud provider
  copy:
    src: "{{ cloud_provider }}_system_locations.sql"
    dest: "/home/{{ login_username }}/system_locations.sql"
    mode: '0644'

- name: Discover cockroach binary path
  shell: command -v cockroach || echo /usr/local/bin/cockroach
  register: cockroach_bin
  changed_when: false
  check_mode: no

- name: copy system_locations script
  ansible.builtin.template:
    src: system_locations.j2
    dest: system_locations.sh
    owner: "{{ login_username }}"
    group: "{{ login_username }}"
    mode: '0755'
  vars:
    cockroach_path: "{{ cockroach_bin.stdout | trim }}"

- name: run system_locations to install locations
  ansible.builtin.command: bash ./system_locations.sh
  args:
    chdir: /home/{{ login_username }}
  environment:
    PATH: "/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"
